<<<<<<< HEAD
h1 {
  color: yellow;

}
h1 {
  =======
  html, body {
  text-decoration: none;
  color: #000000;
  font-size: 32pt;
  text-align: center;
  line-height: 60px;
>>>>>>> 0a2f688639cb390d195e8286897cce263afdf1b3
}
